
nav {
  display: flex, contents;
  font-size: 24px;
  height: 120px;
  color :#FFFFFF;
  width: auto;
  padding: 20px;
  position: fixed;
  width: 100%;
}

span {
  font-size: 40px;
  font-family: "Bungee";
}

.left-side {
  align-content: flex-end;
}


.right-left {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: end;
  padding-bottom: 1em;
}

.fa-angles-down {
  margin-top: 10px;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
  color: red;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@media only screen and (min-width: 768px){
  nav {
  display: flex, contents;
  font-size: 24px;
  height: 120px;
  background-color: #4056A1;
  color :#FFFFFF;
  width: auto;
  padding: 20px;
  position: fixed;
  width: 100%;
  }

  .tablet {
    display: flex;
    padding-top: 120px;
  }
}